{:paths ["src" "resources"]
 :deps  {io.github.nextjournal/clerk             {:git/sha "fc6df7186bfea2571fff2dd790d0ad63f8d6295f"}
         io.github.nextjournal/clerk-slideshow   {:git/sha "11a83fea564da04b9d17734f2031a4921d917893"}
         org.slf4j/slf4j-nop                     {:mvn/version "1.7.36"}
         clj-test-containers/clj-test-containers {:mvn/version "0.7.4"}
         org.jsoup/jsoup                         {:mvn/version "1.16.1"}
         com.cnuernber/charred                   {:mvn/version "1.028"}}
 :aliases
 {:dev
  {:extra-paths ["dev"]}
  :nextjournal/clerk
  {:exec-fn                   nextjournal.clerk/build!
   :exec-args                 {:bundle false
                               :paths  ["articles/*.md"]
                               :index "src/index.clj"}
   ;; TODO: add all notebooks you want to have built ☝️
   ;; if you just want to build one notebook, set `:index`

   ;; optional list of aliases to include in the build
   :nextjournal.clerk/aliases [:dev]}}}
