{:deps {io.github.nextjournal/clerk             {:git/sha "b7207926bacb10e6af17075efd71df3363b74d21"}
        io.github.nextjournal/clerk-slideshow   {:git/sha "977003e581d78f4f554bb8ae73f877f4070925c3"}
        org.slf4j/slf4j-nop                     {:mvn/version "1.7.36"}
        clj-test-containers/clj-test-containers {:mvn/version "0.7.4"}}
 :aliases
 {:dev
  {:extra-paths ["dev"]}
  :nextjournal/clerk
  {:exec-fn                   nextjournal.clerk/build!
   :exec-args                 {:bundle false
                               :paths  ["src/journal/index.clj"
                                        "articles/*.md"]}
   ;; TODO: add all notebooks you want to have built ☝️
   ;; if you just want to build one notebook, set `:index`

   ;; optional list of aliases to include in the build
   :nextjournal.clerk/aliases [:dev]}}}
